.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--botton-light), transparent);
    display: grid;
    place-items: center;
}
/* ===== CTA ===== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ===== IMAGE ===== */
.about__me-image {
    border-radius: 0.5rem;
}