nav {
    flex-direction: column;
    align-items: center;
    width: max-content;
    display: block;
    /*padding: 0.7rem 1.7rem;*/
    z-index: 2;
    position: fixed;
    left: 90%;
    transform: translateX(-50%);
    top: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
    
}
nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
}
nav a:hover {
    border: solid 1px var(--botton-dark);
}
nav a.active {
    border: solid 1px var(--botton-dark);
    color: var(--botton-light);
}
nav::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--botton-dark);
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--botton-dark);
    font-size: 1.3rem;
    visibility: hidden;
    opacity: 0;
}

/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background: white;
        border-radius: 0;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        position: fixed;
        left: 90%;
        transform: translateX(-50%);
        top: 2rem;
        font-size: 1.6rem;
    }
    header .responsive_nav {
        transform: none;
    }

}


